body {
	margin: 0;
}

/* --- Header --- */ 


.masthead {

background-image: url(http://i173.photobucket.com/albums/w79/Luke_Bucciarelli/url_zpsew5f0bqt.jpg);
height: 340px;
width: 100%;
text-align: center;
font-family: sans-serif;
}

h1 {
	margin: 0;
	padding: 10px;
	color: #0F2E4C;
	font-family: sans-serif;
}

/* --- Content --- */ 

.inputitem {
	float: center;
}


.maincontent {
padding: 100px;
text-align: center;
font-family: sans-serif;
background-color: #E4E4E4;

}

.addtolist {
 	background-color: #0F2E4C;
    border: 4px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;

} 

/* 	start mentor CSS code 
	===================== */
.shopping-list {
	width: 500px;
	margin: auto;

	text-align: left;
	list-style: none;
}

.shopping-list__item {
	padding: 10px 0;

	color: red;
}

.shopping-list__item.done {
	color: #0F2E4C;
	text-decoration: line-through;
}

.shopping-list__item__button {
	float: right;

	color: white;
	background-color: #0F2E4C;
	border-radius: 5px;

	cursor: pointer;
	outline: none;
}
/* 	end mentor CSS code 
	===================== */

/*ul {
	list-style: none;
	text-align: left;
}

.got {
	text-decoration: line-through;
	width: 500px;
	margin: auto;
	padding: 10px 0;
	color: #0F2E4C;
}

.need {
	width: 500px;
	margin: auto;
	padding: 10px 0;
	color: red;

}

.done {
	display: inline-block;
	background-color: #0F2E4C;
	color: white;
	border-radius: 5px;
	float: right;
}*/


/* --- Footer --- */ 

.footie {
	background-color: #C9C9C9;
	text-align: center;
}

.shoutout {
	color: #0F2E4C;
	font-family: sans-serif;
	width: 300px;
	margin: auto;
	padding: 10px 0;
}


.copy{
	color: #0F2E4C;
	font-family: sans-serif;
	width: 300px;
	margin: auto;
	padding: 10px 0;

}

.social {
	color: #0F2E4C;
	float: center;
}





